<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Managment</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
  </head>
  <body style="font-size: 16px">
    <header class="d-flex justify-content-around align-items-baseline bg-success">
      <div>
        <a href="#" class="fs-1 text-decoration-none fw-bold">Event</a>
      </div>
      <nav class="">
        <ul style="list-style-type: none" class="d-flex justify-content-around">
          <li>
            <a href="/">
              <button type="button" class="fs-6 btn btn-primary mt-0">Home</button>
            </a>
          </li>

          <li>
            <a href="/event">
              <button type="button" class="fs-6 btn btn-info mt-0">
                Events
              </button>
            </a>
          </li>
          <li>
            <a href="/gallery">
              <button type="button" class="ms-1 fs-6 btn btn-secondry">
                Gallery
              </button>
            </a>
          </li>
          <li>
            <a href="/about">
              <button type="button" class="ms-1 fs-6 btn btn-warning">
                About Us
              </button>
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="container space">
        <h2 class="fs-2 text-center">Gallery</h2>
        <div class="d-flex flex-wrap">
          <img src="/images/aul.jpg" alt="owl" />
          <img src="/images/click.jpg" alt="man" />
          <img src="/images/cloud.jpg" alt="cloud" />
          <img src="/images/flower.jpg" alt="flower" />
          <img src="/images/food.jpg" alt="food" />
          <img src="/images/han.jpg" alt="han" />
          <img src="/images/hen.jpg" alt="hen" />
          <img src="/images/moon.jpg" alt="moon" />
          <img src="/images/mountain.jpg" alt="mountain" />
          <img src="/images/road.jpg" alt="road" />
          <img src="/images/tree.jpg" alt="tree" />
        </div>
      </section>
    </main>

    <footer class="p-3 mb-2 bg-info text-dark">
      <div class="text-center">
        <small>&copy; All CopyRights Reserved 2023</small>
      </div>
    </footer>
  </body>
</html>
